<div class="container">
    <!-- Income Edit Card -->
    <mat-card class="income-edit-card">
      <div class="title-container">
        <mat-card-title class="card-title">Update Income</mat-card-title>
      </div>
      <form [formGroup]="incomeForm" (ngSubmit)="submitForm()" class="custom-form">
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Amount</mat-label>
            <input matInput formControlName="amount" placeholder="Amount" />
            <mat-icon matSuffix>attach_money</mat-icon>
            <mat-error *ngIf="incomeForm.controls['amount'].hasError('required')">
              Please enter an amount
            </mat-error>
            <mat-error *ngIf="incomeForm.controls['amount'].hasError('pattern')">
              Please enter a valid amount
            </mat-error>
          </mat-form-field>
        </div>
  
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="incomeForm.controls['date'].hasError('required')">
              Please select a date
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="category-section">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category" placeholder="Category">
              <mat-option *ngFor="let cat of categories" [value]="cat.id">
                {{ cat.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="incomeForm.controls['category'].hasError('required')">
              Please select a category
            </mat-error>
          </mat-form-field>
  
          <!-- Add Category Button -->
        </div>
  
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Note</mat-label>
            <textarea matInput formControlName="note" placeholder="Add a note"></textarea>
            <mat-icon matSuffix>note</mat-icon>
          </mat-form-field>
        </div>
  
        <button mat-raised-button color="accent" [disabled]="incomeForm.invalid" class="submit-button">
          <mat-icon>save</mat-icon>
          Save Income
        </button>
      </form>
    </mat-card>
  </div>
  